@model TrabalhoFinal.Models.LocalPasswordModel
@{
    ViewBag.Title = "Alterar Senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
