@model TrabalhoFinal.ProjectActivity

@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar Novo Projeto/Atividade</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProjectActivity</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerUserID, "Owner do Projeto/Atividade")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OwnerUserID", String.Empty)
            @Html.ValidationMessageFor(model => model.OwnerUserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectTypeID, "Projeto/Atividade")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProjectTypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.ProjectTypeID)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
